
<!DOCTYPE html>

<head id="Head1"><title>
The Visible Closet is the anti-storage storage solution. Store and manage your stuff while maintaining full access to each item stored -- as though it's sitting right there in front of you!	
</title><link href="/style.css" rel="stylesheet" type="text/css" /><link href="/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />


    <link href="/login.css" rel="stylesheet" type="text/css" />

</head>
<body class="oneColFixCtrHdr">


<div>

    <div id="header">
        <div class="header_container">
            <div class="logo">
                <a href="/">
                    <img src="/images/sbm_web_logo.png" alt="Visible Closet Logo" border="0" /></a>
            </div>
            <div class="nav">
                <div class="login">
                    <div id="login_container">
                        <div id="topnav" class="topnav">
                            <a class="signin">
                                <img class="no_border" src="/images/btn_login.jpg" alt="login to your visible closet account"
                                    width="129" height="26" hspace="0" vspace="0" align="top" /></a>
                        </div>
                        <fieldset id="signin_menu">
                            <table id="Login1" class="login_form_control" cellspacing="0" cellpadding="0" border="0" style="font-family:Arial;width:250px;border-collapse:collapse;">
	<tr>
		<td>
                                    <table border="0" cellpadding="1" cellspacing="0" style="border-collapse: collapse;">
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="2" cellspacing="2" style="width: 250px;">
                                                    <tr>
                                                        <td align="right">
                                                            <label for="Login1_UserName" id="Login1_UserNameLabel">User Name:</label>
                                                        </td>
                                                        <td>
                                                            <input name="Login1$UserName" type="text" id="Login1_UserName" style="width:150px;" />
                                                            <span id="Login1_UserNameRequired" title="User Name is required." style="color:Red;visibility:hidden;">*</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right">
                                                            <label for="Login1_Password" id="Login1_PasswordLabel">Password:</label>
                                                        </td>
                                                        <td>
                                                            <input name="Login1$Password" type="password" id="Login1_Password" style="width:150px;" />
                                                            <span id="Login1_PasswordRequired" title="Password is required." style="color:Red;visibility:hidden;">*</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <input id="Login1_RememberMe" type="checkbox" name="Login1$RememberMe" /><label for="Login1_RememberMe">Remember me next time.</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" colspan="2" style="color: Red;">
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" colspan="2">
                                                            <input type="submit" name="Login1$LoginButton" value="Log In" onclick="" id="Login1_LoginButton" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <a id="Login1_PasswordRecoveryLink" href="PasswordReset.aspx">Forgot password?</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
	</tr>
</table>
                        </fieldset>
                    </div>
                </div>
                <div class="nav_menu">
                    <a href="">
                        <img src="/images/btn_signup.jpg" alt="sign up for visible closet" width="94" height="38"
                            hspace="0" vspace="0" border="0" align="left" border="0" /></a> <a href="">
                                <img src="/images/btn_demo.jpg" alt="view demo of visible closet service" width="82"
                                    height="38" align="left" border="0" /></a> <a href="">
                                        <img src="/images/btn_pricing.jpg" alt="view pricing for visible closet"
                                            width="87" height="38" align="left" border="0" /></a> <a href="http://blog.storagebymail.com">
                                                <img src="/images/btn_blog.jpg" alt="storage by mail blog" width="81" border="0"
                                                    height="38" align="left" /></a> <a href="">
                                                        <img src="/images/btn_contact.jpg" width="128" height="38" alt="contact us about visible closet products or services"
                                                            border="0" /></a>
                </div>
            </div>
        </div>
        <!-- end #header -->
    </div>
    <div class="banner_container">
        <div class="banner_elements">
            <div class="banner">


            </div>
            <div class="banner_right">
                <div class="signup_button">
                    <a href="">
                        <img src="images/yellow_btn_signup.jpg" width="123" height="30" alt="sign up"
                            border="0" /></a>
                </div>
                <div class="more_link">
                    <a href="">more >></a>
                </div>
            </div>
        </div>
    </div>
    <div id="container">
        <div id="mainContent">
            <br />
            <img id="Image1" src="images/press_banner.png" align="middle" style="border-width:0px;" />
                <br />
            <div class="home_main_container">
                <div class="home_main_col1">
                    <img src="images/home_col1.png" alt="safe and secure" width="307" height="118" />
                    <p>
                        Computers, barcodes and biometrics --- these are the technologies that big companies
                        use to secure their assets. Now you too can store your property in an ultra-modern
                        warehouse.</p>
                </div>
                <div class="home_main_col2">
                    <img src="images/home_col2.png" width="307" height="116" alt="safe and secure" />
                    <p>
                        You have better things to do than haul boxes to a self storage warehouse in the
                        sketchy part of town. Why not let the storage come to you? And now with USPS Carrier
                        Pickup and Pickup on Demand it’s even easier.</p>
                </div>
                <div class="home_main_col3">
                    <img src="images/home_col3.png" width="307" height="116" alt="safe and secure" />
                    <p>
                        Feeling tied down? StorageByMail gives you the freedom to move around. Send and
                        receive packages from any address, even overseas APO/FPO locations.</p>
                </div>
            </div>
            <div class="home_break">
            </div>
            <div class="home_tips">
                <div class="home_tips_col1">
                    <div class="home_tips_image">
                        <img src="images/home_tip1.jpg" alt="tip 1 " width="96" height="100" /></div>
                    <div class="home_tips_text">
                        Use good-quality boxes and plenty of tape to avoid damage. A strong moving & storage
                        box wrapped with lots of packing tape will stand up against occasional rough handling
                        by the postal service.</div>
                </div>
                <div class="home_tips_col2">
                    <div class="home_tips_image">
                        <img src="images/home_tip2.jpg" alt="tip 2 " width="123" height="78" /></div>
                    <div class="home_tips_text">
                        Fill each box, but do not over or under pack. Typical boxes are rated 200-test meaning
                        they can hold up to 65lbs. However in practice you should limit yourself to about
                        35lbs. That’s about 8 or 9 textbooks (depending on what you’re studying). Fill any
                        empty space with cushioning material to prevent the walls from collapsing.</div>
                </div>
                <div class="home_tips_col3">
                    <div class="home_tips_image">
                        <img src="images/home_tip3.jpg" alt="tip 3 " width="114" height="87" /></div>
                    <div class="home_tips_text">
                        Take advantage of the best-kept secrets at the USPS --- Carrier Pickup and Pickup-On-Demand. You specify the time, place and date. And the USPS comes to you.</div>
                </div>
            </div>
            <p>
                <!-- end #mainContent -->
        </div>
        <!-- end #container -->
    </div>
    
</form>
    <div id="footer">
        <div class="footer_content">
            <p>
                <a href="/">Home</a> | <a href="/">Sign Up</a> | <a href="/">
                    Demo</a> | <a href="">Blog</a> | <a target="_blank"
                        href="/">Follow Us on Twitter</a> | <a href="/">
                            Privacy Policy</a> | <a href="/">Usage Agreement</a>
                | <a href="/">Contact Us</a> | 612-867-1348 | dzabinski2011@kellogg.northwestern.edu</p>
            <p>
                The names and logos for StorageByMail.com are registered trademark of StorageByMail,
                LLC.<br />
                All Text and design is Copyright 2011 Visible Closet, Inc. All rights reserved.</p>
        <!-- end #footer -->
    </div>


</body>
</html>

