<%= render 'account_nav' %>
<div class="account_center">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p>
At some point this will contain more information ... but not today! 
<br>
<br>
<br>
<img src="http://s3.amazonaws.com/kym-assets/entries/icons/original/000/002/611/close_enough.png?1273013490"/> 
</div>
